.card.duotone{
  a{
    .card-image{
      position: relative;
      z-index: 1;
      &:after{
        content: "";
        display: block;
        background-color: rgba($d_purple, .5);
        height: 100%;
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 2;
      }
      img{
        filter: grayscale(1) brightness(1.3) contrast(2.5);
      }
    }
    .card-text{
      .card-tag{
      }
      h3{
      }
      p{
      }
      time{
      }
    }
    &:hover{
      .card-image{
        img{
        }
      }
    }
  }
  &.card-full{
    a{
    }
  }
}
