.masonry-grid{
	padding: 0;
	transform-origin: top center;
	transform: scale(0);
	transition: transform .5s cubic-bezier(.215, .61, .355, 1);
	&.loaded{
		transform: scale(1);
	}
	@media (min-width: $screen-sm-min) {
		padding: 0 10px;
	}
	@media (min-width: $screen-md-min) {
		padding: 0 10px;
	}
	@media (min-width: $screen-lg-min) {
		padding: 0 20px;
	}
	article{
   padding: 10px;
	 @media (min-width: $screen-xs-min) {
		 width: 50%;
	 }
	 @media (min-width: $screen-sm-min) {
		 width: 33.33%;
	 }
	 @media (min-width: $screen-md-min) {
			 width: 25%;
	 }
	 @media (min-width: $screen-lg-min) {
		 width: 20%;
		 padding: 20px;
	 }
   a{
     .card-image{
       overflow: hidden;
       img{
         height: auto;
         width: 100%;
       }
     }
   }
 }
}
