@mixin beforeAfterBAse(){
  content: "";
  display: block;
		left: 0;
  position: absolute;
		right: 0;
		width: 100%;
}

.gradient{
  a{
			padding: 10px;
position: relative;

&:after {
	@include beforeAfterBAse();
	background-color: $white;
	bottom: -20%;
	height: 65%;
	transform-origin: top left;
	transform: skewY(-4deg);
	z-index: 2;
}
			.card-content{
				position: relative;
				z-index: 3;
				.card-header{
					display: table;
					vertical-align: middle;
					padding: 40px 0;
					width: 100%;
						h1{
							color: $white;
							font-size: 40px;
							font-weight: 800;
							margin-bottom: 0px;
							margin-top: 20px;
							text-align: center;
							text-transform: uppercase;
						}
						h2{
							color: $white;
							font-size: 20px;
							font-weight: 200;
							margin-bottom: 0;
							margin-top: 0px;
							text-align: center;
						}
					}
          .card-image{
            display: table;
            text-align: center;
            // padding:0 40px;
            width: 100%;
            img{
              display: block;
              height: 100px;
              margin: 0 auto;
              width: auto;
            }
          }
					.card-info{
						padding-bottom: 10px;
						h3{
							color: $dgray1;
							font-size: 20px;
							font-weight: 800;
							margin-bottom: 5px;
							margin-top: 20px;
							text-align: center;
						}
						.clearfix{
							text-align: center;
							p{
								color: $dgray2;
								display: inline-flex;
								font-size: 12px;
								font-weight: 200;
								margin-bottom: 5px;
								margin-top: 5px;
                &:last-child{
                  margin-bottom: 0;
                }
								strong{
									color: $dgray1;
									font-weight: 600;
									margin-right: 4px;
								}
							}
						}
					}
			}
			&:hover{
				.card-image{
					img{
						transform: none;
					}
				}
			}
		}
}
