.btn {
  @include body_regular();
  background-color: $blue;
  color: $white;
  font-size: 14px;
  overflow: hidden;
  min-width: 220px;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: color .15s linear;
  &>*{
    position: relative;
  }
  &:hover{
    text-decoration: none;
  }
  &.outline{
    background-color: transparent;
    border: 1px solid $blue;
    color: $blue;
  }
  &.skew{
    transition: color .15s linear;
    &:before{
      display: block;
      background-color: $blue;
      content: '';
      height: 100%;
      left: -2px;
      position: absolute;
      top: 0;
      transform-origin: top left;
      transform: skewX(-12deg) scaleX(0);
      transition: transform .5s cubic-bezier(.215, .61, .355, 1);
      width: 100%;
    }
    &:hover{
      color: $white;
      &:before{
        transform: skewX(-12deg) scaleX(1.075);
      }
    }
  }
}
