.ie{
  *:before,
  *:after {
    text-decoration: none;
  }
  a {
    outline: none;
  }
  a::before, a:hover::before, a:visited::before{
    text-decoration: none;
  }
  @media (min-width: $screen-sm-min) {

  }
  @media (min-width: $screen-md-min) {

  }
  @media screen and (max-width: $screen-sm-min) {

  }
}
