html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 28px;
  @include body_regular();
  background-color: #EDE9E9;
  // background-image: url('../dummy-content/repeat-bg.png');
  // background-repeat: repeat;
  // background-position: center center;
  // background-attachment: fixed;
  color: $paragraphColor;
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

iframe {
  border: none;
}

main{
  margin: 0 auto;
  max-width: 1440px;
  min-height: 1400px;
  overflow: hidden;
  &:before{
    content: " ";
    display: table;
  }
}
article{
  main{
    min-height: auto;
  }
}
section{
  margin: 10px 0;
  padding: 0 10px;
  @media (min-width: $screen-md-min) {
    margin: 20px 0;
    padding: 0 20px;
  }
  @media (min-width: $screen-lg-min) {
    margin: 40px 0;
    padding: 0 40px;
  }
  &:before{
    content: " ";
    display: table;
  }
}
.reset-ul{
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    font-size: 0;
  }
}
.clearfix{
  &:after {
     content: ".";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
}

a, .btn {
  @include transition(all 0.3s);
}
.hover-lines{
	&:hover{
		text-decoration: none;
	}
}
.vertical-align{
  @include vertical-align();
}

@media (min-width: $screen-xs-min) {
}
@media (min-width: $screen-sm-min) {
}
@media (min-width: $screen-md-min) {
}
@media (min-width: $screen-lg-min) {
}
