nav{
  margin: 10px 0;
  padding: 0 10px;
  position: relative;
  width: 100%;
  &:before{
    content: " ";
    display: table;
  }
  @media (min-width: $screen-sm-min) {
    margin: 20px 0;
    padding: 0 20px;
  }
  @media (min-width: $screen-md-min) {
    margin: 40px 0;
    padding: 0 40px;
  }

  .reset-ul{
    li{
      font-size: 14px;
    }
  }
  &.float-nav{
    background-color: rgba($white, 0.75);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-around;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    &.in-place{
      position: fixed;
    }
    @media (min-width: $screen-sm-min) {
      margin: 0;
      padding: 0;
    }
    @media (min-width: $screen-md-min) {
      margin: 0;
      padding: 0;
    }
    a{
      position: relative;
      transition: all .8s cubic-bezier(.19, 1, .22, 1);
      top: 10px;
    }
  }
}
@media (min-width: $screen-xs-min) {

}
@media (min-width: $screen-sm-min) {

}
@media (min-width: $screen-md-min) {

}
@media (min-width: $screen-lg-min) {

}

@media (max-width: $screen-xs-max) {

}
