body,h1,h2,h3,h4,h5,h6,p,li,input,button,a,legend {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3 {
	@include heading_bold();
  color: $headerColor;
}
p{
	&:last-child{
		margin-bottom: 0;
	}
}

.bevan{
	h1,
	h2,
	h3,
	h4,
	h5,
	.h1,
	.h2,
	.h3 {
		font-family: 'Bevan', cursive;
	}
}
.patua-one{
	h1,
	h2,
	h3,
	h4,
	h5,
	.h1,
	.h2,
	.h3 {
		font-family: 'Patua One', cursive;
	}
}
.fjalla-one{
	h1,
	h2,
	h3,
	h4,
	h5,
	.h1,
	.h2,
	.h3 {
		font-family: 'Fjalla One', sans-serif;
	}
}
