body,h1,h2,h3,h4,h5,h6,p,li,input,button,a,legend {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3 {
	@include heading_bold();
  color: $dgray2;
}
p{
	&:last-child{
		margin-bottom: 0;
	}
}
