.slide-in-lines-outside{
	position: relative;
	&:before{
		bottom: -1px;
		background-color: #000;
		content: "";
		height: 1px;
		display: block;
		left: 0;
		position: absolute;
		-webkit-transition: width .35s ease-in; /* Safari */
	 transition: width .35s ease-in;
		width: 0;
	}
	&:after{
		bottom: -1px;
		background-color: #000;
		content: "";
		height: 1px;
		display: block;
		position: absolute;
		right: 0;
		-webkit-transition: width .35s ease-in; /* Safari */
	  transition: width .35s ease-in;
		width: 0;
	}
	&:hover{
		&:before{
			width: 50%;
		}
		&:after{
			width: 50%;
		}
	}
}
