body{
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	margin: 0;
	padding: 0;
}
div{
	background: #76c892;
	height: 50px;
	line-height: 50px;
	margin: 10px;
	text-align: center;
	width: 50px;
}
/*
 * Standard, evenly-rounded corners.
 */
.single-value {
  border-radius: 50px; /* 50px / 50px */
}

/*
 * The rounding will be 2x wider than it is tall.
 */
.double-value-wide {
  border-radius: 50px / 25px;
}

/*
 * The rounding will be 2x taller than it is wide.
 */
.double-value-tall {
  border-radius: 25px / 50px;
}

.avatar-wobble {
	height: 350px;
	width: 350px;
  border-radius: 250px 750px 250px 750px /
                 750px 250px 750px 250px;
  animation: wobble 5s ease-in-out alternate infinite;
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px /
                   350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px /
                   250px 750px 250px 750px;
  }
}

.avatar-wobble-hover {
	height: 350px;
	width: 350px;
  border-radius: 250px 750px 250px 750px /
                 750px 250px 750px 250px;
	transition: border-radius 0.5s ease-in;
}
.avatar-wobble-hover:hover{
	border-radius: 750px 250px 750px 250px /
								 250px 750px 250px 750px;
}

.wobble-inner{
	position: relative;
	z-index: 1;
}
.wobble-inner:after{
	display: block;
	content: "";
	background: #6cab8b;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	border-radius: 0;
	transition: all 0.5s ease-in;
}
.wobble-inner:hover:after{
	opacity: .75;
	border-radius: 50px / 25px;
}
