
.icon-award:before { content: '\e800'; } /* '' */
.icon-cupen:before { content: '\e801'; } /* '' */
.icon-mff-star:before { content: '\e802'; } /* '' */
.icon-sm:before { content: '\e803'; } /* '' */
.icon-bragd:before { content: '\e804'; } /* '' */
.icon-guldboll:before { content: '\e805'; } /* '' */